language: ruby
rvm:
    - "2.0.0"

before_script:
  - "psql -c 'create role sample_app_3_2 SUPERUSER LOGIN;' postgres"
  - "psql -c 'create database sample_app_3_2_test;' -U postgres postgres"
  - "bundle exec rake db:migrate"
